<html xmlns:th="https://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <div>
        <h2>Search Result</h2>
    </div>
    <div>
        <ul>

            <div th:text="'Query: '+${query}">

            </div></br>
            Top20 Documents(Document Id)
            <div th:each="rank:${ranks}">
                <div th:text="${rank}"></div>
            </div>
        </ul>
    </div>
    <a href="/search">search again</a>
</div>


</body>
</html>